{% extends 'task/main.html' %}
{% block content %}


<!-- Main Section -->

  <div class="password-reset-wrapper">
    <div>
      <h3>Password Reset</h3>
      <p>Forgotten you password? Enter your email address below, and we'll email instructions for setting a new one.</p>
      <br />

      <form class="form" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          
      
        <input class="reset-submit-btn"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
  </div>

{% endblock content %}